<h1 class="text-center card-header my-2">Editar Troquel</h1>
<%= render "form", empleo: @troquel %>
  <div class="container">
    <div class="card-header d-flex justify-content-between">
      <%= link_to 'Atras', @troquel, :class => "center-block btn btn-dark  w-100 mt-2"  %>
    </div>
  </div>
